<br>
 <h3>Join My Free Internet Marketing Email List</h3>
<p>If you’d like to hear more from me, I have a free private email list for those users who are Interested in Internet Marketing Field.</p>

<p>To join my free email list, simply click the Apply button below.</p>
<br>
<a href="mailto:arun@pkarun.com?subject=Subscribe%20to%20Free%20Private%20Internet%20Marketing%20Email%20List&body=Hi%20Arun%2C%0A%0AI%E2%80%99d%20like%20to%20subscribe%20this%20email%20address%20to%20your%20Free%20Private%20Internet%20Marketing%20Email%20List.%0A%0ABy%20subscribing%2C%20I%20understand%20that%20I%20will%20receive%20Emails%20with%20Internet%20Marketing%20related%20content%2C%20personal%20updates%20and%20product%20recommendations.%0A%0AI%20also%20understand%20that%20if%20I%20ever%20wish%20to%20stop%20receiving%20emails%2C%20I%20can%20do%20so%20by%20clicking%20the%20Unsubscribe%20link%20in%20any%20email.%0A%0AThanks!%20" 
   style="display: inline-block; padding: 16px 32px; background-color: #007bff; color: white; text-decoration: none; border-radius: 8px; font-size: 20px; font-weight: bold; text-align: center; display: block; width: fit-content; margin: 20px auto;">
   Apply to Subscribe for Free
</a>
<br>
 <br>