{{ define "main" }}
  <content>
    {{ if .Data.Singular }}
      <h3>Filtering for "{{ .Title }}"</h3>
      <small>
        <a href="{{ relURL "blog" }}">Remove filter</a>
      </small>
    {{ end }}

    <!-- Pagination at the top -->
    {{ if or .Paginator.HasPrev .Paginator.HasNext }}
      {{- partial "pagination.html" . -}}
    {{ end }}

    <ul class="blog-posts">
      {{ range .Paginator.Pages }}
        <li>
          {{ if .Params.link }}
            <a href="{{ .Params.link }}" target="_blank">{{ .Title }} 
            </a>
          {{ else }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ end }}
        </li>
      {{ else }}
        <li>No posts yet</li>
      {{ end }}
    </ul>

    <!-- Pagination at the bottom -->
    {{ if or .Paginator.HasPrev .Paginator.HasNext }}
      {{- partial "pagination.html" . -}}
    {{ end }}
  </content>
{{ end }}
